<div class="page animsition vertical-align text-center" data-animsition-in="fade-in"
     data-animsition-out="fade-out">
  <div class="page-content vertical-align-middle">
    <header>
      <h1 class="animation-slide-top">403</h1>
      <p>Forbidden!</p>
    </header>
    <p class="error-advise">YOU ARE NOT AUTHORIZED</p>
    <a class="btn btn-primary btn-round" href="/">GO TO HOME PAGE</a>
    <a class="btn btn-primary btn-round" (click)="logout()">LOGOUT</a>
    <footer class="page-copyright">
      <p>&nbsp;</p>
      <p>&nbsp;</p>
    </footer>
  </div>
</div>
